/node_modules
/packages
/graphql
/public/hot
/public/storage
/public/js
/public/css
/public/*.js
/public/*.map
/storage/*.key
/vendor
.env
.env.backup
coverage.xml
.phpunit.result.cache
Homestead.json
Homestead.yaml
composer.lock
*.log
